pip install msgpack
pip install tensorflow-gpu==1.7.0
pip install pandas==0.22
pip install easydict
pip install keras
pip install opencv-python
pip install editdistance
pip install tqdm
pip install requests
pip install Pillow
pip install jieba
pip install matplotlib
pip install numpy==1.14.1